<p *ngIf="counts[selectedSource.toLowerCase()] && dataSource.data">
  Total Articles for {{selectedSource}}: {{counts[selectedSource.toLowerCase()].total}}
  <br />
  Loaded Articles: {{dataSource.data.length}}
</p>

<div class="mat-elevation-z8" *ngIf="dataSource">
  <div style="display: flex; justify-content: space-between">
    <mat-form-field class="filter" color="accent" style="width: 25%">
      <input matInput placeholder="Filter" (keyup)="filter($event.target.value)">
    </mat-form-field>

    <div title="Change the total number of articles displayed by type">
      <label style="font-size: 10px">Limit Articles:</label>
      <mat-slider
        thumbLabel
        (change)="sliceDataSource()"
        [max]="counts[selectedSource.toLowerCase()].total"
        [min]="pageSize"
        [step]="pageSize"
        [(value)]="counts[selectedSource.toLowerCase()].load">
      </mat-slider>
    </div>

    <mat-form-field style="width: auto">
      <mat-label>Change Source:</mat-label>
      <mat-select [(value)]="selectedSource" (selectionChange)="getSource(selectedSource)" [disabled]="!loaded">
        <mat-option *ngFor="let source of sources" value="{{source}}">{{source | titlecase}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <table mat-table [dataSource]="dataSource" matSort>
    <!-- Title -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell class="title" *matCellDef="let article" (click)="openArticle(article.url)"> {{article.title}} </td>
    </ng-container>

    <!-- Author -->
    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let article"> {{article.by}} </td>
    </ng-container>

    <!-- Headers -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let article; columns: displayedColumns;"></tr>
  </table>

  <div class="loader" *ngIf="dataSource.data && dataSource.data.length < 1">
    <mat-spinner></mat-spinner>
  </div>

  <!-- We bind to the hidden attribute instead of using *ngIf so the elements exist on the dom -->
  <div class="paginator" [hidden]="dataSource.data && dataSource.data.length < pageSize">
    <mat-slider
      thumbLabel
      title="Drag me to change the page"
      (change)="changePage($event.value)"
      [max]="maxPage"
      [min]="0"
      [step]="1"
      [value]="paginator ? paginator.pageIndex : 0">
    </mat-slider>
    <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
  </div>
  <mat-progress-bar [hidden]="loaded && cached[selectedSource]" mode="determinate" [value]="percentageLoaded"></mat-progress-bar>
</div>
