table {
  width: 100%;
}

.filter {
  /* background-color: #42424233; */
  margin-bottom: -24px;
  padding: 10px;
}

/* .filter:focus-within { // needed in dark theme
  background-color: #424242ee;
} */

.loader {
  display: flex;
  justify-content: center;
  padding: 5px;
}

.mat-elevation-z8  {
  margin: 10px;
  padding: 10px;
}

.mat-form-field {
  font-size: 14px;
  width: -webkit-fill-available;
}

.mat-paginator {
  margin-left: 10px;
}

.mat-slider {
  align-self: flex-end;
}

.paginator {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
}

.paginator-loader {
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  width: 100px;
}

.title {
  cursor: pointer;
}

.title:hover {
  text-decoration: underline;
}
